@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');


@import "tailwindcss";
:root{
  --main-border:#d7d7d74e;
  --bg-color:#a54f3a;
}
html, body {
  overflow-x: hidden;
}
html{
  direction: rtl;
  /* color:#321f3f */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
.prayer{
  background-color: var(--bg-color);
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--main-border);
  font-size: 16px;
 
}
.prayer .time-prayer{
  direction: ltr;
}
